$main: #bb4817;
$sec: #779dad;
$main-l: #D6D9FF;
$main-d: #1A0C4C;
$black-d: #0000000D;
$black: #1F1F1F;
$black-l: #1F1F1F0D;
$gray-l: #DCE1EA;
$gray-d: #808080;
$white-dd: #FFFFFF33;
$white: #FFFFFF;
$white-d: #FAFAFC;
